<div class="main pos-relative">
  <div class="pic">
    <img src="loginPageImages/CreatePassword.svg" alt="" class="wp-100" />
  </div>
  <form action="">
    <div
      class="content pos-absolute wp-100 d-flex flex-column gap-2 rounded-15 align-center p-15"
    >
      <div class="title-box d-flex flex-column align-center">
        <img src="logo.svg" alt="logo" class="h-3" />
        <span class="weight-600">Create Password</span>
      </div>
      <div class="input-box wp-100 d-flex flex-column gap-1">
        <div class="password wp-100 d-flex flex-column">
          <label for="password" class="weight-400">Password</label>
          <input type="password" class="p-10 rounded-10" name="password" />
        </div>
        <div class="confirmPassword wp-100 d-flex flex-column">
          <label for="confirmPassword" class="weight-400"
            >Confirm Password</label
          >
          <input
            type="password"
            class="p-10 rounded-10"
            name="confirmPassword"
          />
        </div>
      </div>
      <div class="submit-box d-flex flex-column wp-100 align-center gap-1">
        <button
          type="submit"
          class="btn wp-100 py-15 rounded-15 weight-700"
          routerLink="/selection"
        >
          Sign In
        </button>
        <div class="back weight-700" routerLink="/signInByCode">Back</div>
      </div>
    </div>
  </form>
</div>
