.main {
  height: 100svh;
  .pic {
    flex: 0.35;

    img {
      object-fit: cover;
    }
  }

  .content {
    flex: 0.7;
    background-color: white;
    margin-top: -10%;

    .title-box {
      .dec {
        color: #575757;
        font-family: "Mulish", serif;
      }
    }

    .number-box {
      label {
        font-family: "Mulish", serif;
      }

      input {
        appearance: none;
        border: 1px solid #999999;
        font-family: "Mulish";

        &:focus {
          border-color: #564165;
          outline: none;
        }
      }
    }

    .btn-box {
      button {
        background-color: #564165;
        font-family: "Mulish", serif;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: darken(#564165, 5%);
        }
      }
    }
  }
}
