/* You can add global styles to this file, and also import other style files */
@import url("./theme/padding.scss");
@import url("./theme/font-size.scss");
@import url("./theme/margin.scss");
@import url("./theme/size.scss");
@import url("./theme/border-radius.scss");
@import url("./theme/display.scss");
@import url("./theme/flex-box.scss");
@import url("./theme/gap.scss");
@import url("./theme/overflow.scss");
@import url("./theme/position.scss");
@import url("./theme/text-align.scss");
@import url("./theme/z-index.scss");
@import url("./theme/size-percent.scss");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
